body {
  font-family:Roboto-Regular,sans-serif;
  font-weight:400;
  color: #212121;
  margin: 0;
}

/******************
HEADER
*******************/

.header {
  background-color: #1f3870;
  display: flex;
  display: -webkit-flex;  
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
	position: fixed;
	top:0px;
	left:0px;
}

.left {
  display: flex;
  display: -webkit-flex;  
  align-items: center;
}

.brand-logo {
  height: 60px;
}

.title {
  font-family:Roboto-Regular,sans-serif;
  font-weight:400;
  font-size: 2.05em;
  color: white;
  margin:5px 0 5px 25px;
}

.right {
  display: block; 
  color: white;  
  text-align: center;
}

.current-date {  

}

.current-time {  
  font-size: 2em;  
}

/******************
CONTENT
*******************/

.content {
  background-color: #EEEEEE;
  padding-top: 90px
}

.events-list {
  list-style: none;
  margin: 0;
  padding: 13px 0 12px 15px;
}

.event {
  margin: 0 15px 15px 0;
  background-color: white;
  border-radius: 8px;
  display: flex;
  display: -webkit-flex;  
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 4px 20px #ccc;
  height:95px;
}

.event:last-child {
  margin-bottom: 0;
}

.event-start {
  font-size: 1.4em;
}

.group {
  font-size: 1.4em;
}

.group-left {
  width: 14%;
  text-align: center;
}

.group-right {
  width: 9%;
  text-align: center;
}

.group-center {
  width: 77%;
  padding-left: 15px;
}

.event-title {
  font-family: Roboto-Medium, sans-serif;
  font-weight:500;
  margin: 0px 0px 3px 0px;
  font-weight: 500;
  color: #1f3870;
  font-size: 1.1em;
}

.event-description{
	font-size: .95em;
	color: #fb8c00;
	display: -webkit-flex;
	display: flex;
	align-items: center;	
}

.info-text{
	padding-left: 10px;
}

/*
.event-time-left {
  font-size: .8em;
}

.event-time-left .time {
  font-size: 1.45em;
}
*/

.event-room {
	font-size: .8em;
}

.event-room  .room{
	font-size: 1.45em;
}

.event-status {
	font-size: .82em;
	color: #fb8c00;
}

.teachers {
  list-style: none;
  padding-left: 0;
  color: #777;
  margin-bottom: 2px; 
  font-size: 1em;
}

.teachers li {
  display: inline-block;
}

.teachers li::after {
  content: ',\00a0'
}

.teachers li:last-child::after {
  content: ''
}

@font-face{
	font-family:'Roboto-Medium';
	font-style: normal;
	font-weight:500;
	src:url('../fonts/Roboto-Medium.ttf');
}

@font-face{
	font-family:'Roboto-Regular';
	font-style: normal;
	font-weight:400;
	src:url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}